

@media (max-width: 1582px) {
    .main-hero .hero-info h1 {    font-size: 120px;    line-height: 100%;    text-transform: uppercase;}
    .main-hero .hero-media {    height: 1000px;}
    .main-hero .hero-image .video-portal {    width: 480px;    height: 480px;    top: 124px;}
    h2 {margin:0 0 40px 0;font-size: 52px;line-height: 100%;letter-spacing: -2px;}
    h3 {margin:0 0 40px 0;font-size: 36px;line-height: 110%;letter-spacing: -1.2px;}
    .planet-section .planet-video .planet-title-2 {    max-width: 360px;}
    .planet-section .planet-video .planet-title-1 {    max-width: 380px;}
    .mount-section .mount-animate {    height: 1000px;}
    .main-about .about-images .image {    margin: 0 15px;}
    .main-about {margin-bottom:0!important;}
    .main-about .about-images {    margin: 0 -15px 80px -15px;}
    .main-hero .hero-image .image-portal img {width:1920px;}
    .main-hero .hero-image .image-container img {width:1920px;}




}

@media (max-width: 1400px) {
    .main-hero .hero-info {    top: 80px;    bottom: 100px;}
    .header .logo {    margin: 0 40px 0 0;}
    .header .header-right {    margin: 0 0 0 40px;}
     .main-hero .hero-media {    height: 800px;}
     .main-hero .hero-image .image-lines {width:100%;}
     .main-hero .hero-image .video-portal {    width: 350px;    height: 350px;    top: 84px;margin:0;}
     .planet-section .planet-video .video-container {    width: 400px;    height: 400px;}
     .planet-section .planet-video .planet-lines {width:100%;}
    h2 {margin:0 0 40px 0;font-size: 46px;line-height: 100%;letter-spacing: -2px;}
    h3 {margin:0 0 40px 0;font-size: 30px;line-height: 110%;letter-spacing: -1.2px;}
    .cases-list .item .item-image {    height: 460px;}
    .cases-list .item.small .item-image {    height: 300px;}
    .mount-section .mount-animate .mount-parallax {    height: 400px;}
    .main-about {    margin: -70px 0 0 0;}
    .main-hero .hero-image .image-container img {width:1400px;max-width:none; height:auto; position:absolute; top:0; left:50%; transform:translateX(-50%) ; -webkit-transform:translateX(-50%) ; -moz-transform:translateX(-50%) ; -ms-transform:translateX(-50%) ; -o-transform:translateX(-50%) ; }
    .main-hero .hero-image .image-portal img {width:1400px;max-width:none; height:auto; position:absolute; top:0; left:50%; transform:translateX(-50%) ; -webkit-transform:translateX(-50%) ; -moz-transform:translateX(-50%) ; -ms-transform:translateX(-50%) ; -o-transform:translateX(-50%) ; }
    .cases-list .item {    width: calc(49% - 30px);}
    .cases-list .item.small {    width: calc(33% - 30px);}
    .title-container .section-anons {    width: calc(49% - 15px);}
    .cases-section .cases-anons {    width: calc(49% - 15px);}
    .last-event .item-image {    width: 600px;    height: 488px;}
    .case-detail .audio-button {margin:0 0 32px 0;}
    .case-detail .video-button {height:305px;}
    .events-list .item .item-info {    margin: 0 0 0 40px;}
    .events-list .item .item-date {    width: 160px;    min-width: 160px;}
    .events-list .item .item-name {    font-size: 30px;    line-height: 100%;    letter-spacing: -1px;}
    .events-list .item .item-image {    width: 404px;    height: 272px;    min-width: 404px;}
    .contacts-section .contacts-form {min-width:540px;}
    .contacts-section h1 {    margin: 0 0 40px 0;    font-size: 80px;    line-height: 100%;}
    .about-section .about-hero .down {display:none;}
    .about-section .about-hero h1 {    top: 140px;    font-size: 120px;    line-height: 100%;}




}

@media (max-width: 1199px) {
    .header .header-menu {opacity:0;visibility: hidden; pointer-events: none;  transition:0.5s ; position:fixed; top:88px; bottom:0; left:0; right:0; background: rgba(14, 14, 14, 0.9); z-index:190; overflow:auto; padding:40px 0 40px 0; text-align:center; -webkit-transition:0.5s ; -moz-transition:0.5s ; -ms-transition:0.5s ; -o-transition:0.5s ; }
    .menu-open .header .header-menu {opacity:1;visibility: visible; pointer-events: all;}
    .header .header-menu .nav {display:block!important;}
    .header .header-menu .nav a {margin:0 0 24px 0;}
    .menu-open .header {    background: rgba(14, 14, 14, 0.9);}
    .header-langs {margin:0 0 40px 0;}
    .main-hero .hero-info h1 {    font-size: 80px;    line-height: 100%;}
    .main-hero .hero-media {    height: 800px;}
    h2 {margin:0 0 30px 0;font-size: 40px;line-height: 100%;letter-spacing: -1.4px;}
    h3 {margin:0 0 30px 0;font-size: 25px;line-height: 110%;letter-spacing: -0.8px;}
    .planet-section .planet-video .video-container {    width: 360px;    height: 360px;}
    .planet-section .planet-video .planet-title-2 {    max-width: 260px;}
    .planet-section .planet-video .planet-title-1 {    max-width: 260px;}
    
    .header .header-menu .phone  {margin:0 0 24px 0;text-decoration: none;font-size: 24px;font-weight: 300;line-height: 100%;letter-spacing: -0.24px;text-transform: uppercase;}
    .header .header-menu .phone  .icon { margin:0 20px 0 0; font-size:24px; width: 48px; min-width: 48px; height: 48px; background:url('../../images/border.svg') no-repeat center; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
    .header .header-menu .adres {margin:0 0 24px 0; text-align: left; text-decoration: none;font-size: 16px;font-weight: 300;line-height: 140%;letter-spacing: -0.16px;}
    .header .header-menu .adres .icon { margin:0 20px 0 0; font-size:24px; width: 48px; min-width: 48px; height: 48px; background:url('../../images/border.svg') no-repeat center; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
    .header .header-menu .socials a {display:block;text-decoration:none;margin:0 0 24px 0;font-size: 14px;font-weight: 300;line-height: 100%;letter-spacing: -0.14px;text-transform: uppercase;}
    .header .header-menu .socials a:last-child {margin:0;}
    .header .header-menu .menu-contacts {margin:40px 0 0 0;}

    .menu-button { line-height: 100%;border: 1px solid var(--e-1-d-9-c-1, #E1D9C1); height:36px;width:72px;border-radius: 40px;  -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px; }
    .menu-button .button-icon { width:40px;height:6px;margin:0 auto;}
    .but-icon { display: block; height: 1px; width:100%; background: transparent; position:relative;}
    .but-icon::before, .but-icon::after { width:100%; position: absolute; display: block; left: 0; height: 1px; background-color:#EAE6DE; content: ""; transition:0.2s ; -webkit-transition:0.2s ; -moz-transition:0.2s ; -ms-transition:0.2s ; -o-transition:0.2s ; }
    .but-icon::before {top:-4px;  }
    .but-icon::after {bottom:-4px;}
    .but-icon::before, .but-icon::after { -webkit-transition-duration: 0.2s, 0.2s; transform: translateX(-50%); width:100%; left:50%; transition-duration: 0.2s, 0.2s; -webkit-transition-delay: 0.0s, 0s; transition-delay: 0.0s, 0s; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }  
    .but-icon::before {	-webkit-transition-property: top, transform,left;	transition-property: top, transform,left;  }
    .but-icon::after {	-webkit-transition-property: bottom, transform,left;	transition-property: bottom, transform,right,left;  }
    /* when menu open: */
    .but-icon.is-active {	background: none!important;  }
    .but-icon.is-active::before, .but-icon.is-active::after {width:60%; background-color:#E1D9C1;	-webkit-transition-delay: 0s, 0.0s;			transition-delay: 0s, 0.0s;  }
    .but-icon.is-active::before { top: 0; left:50%; transform: translateX(-50%) rotate(45deg); -webkit-transform: translateX(-50%) rotate(45deg); -moz-transform: translateX(-50%) rotate(45deg); -ms-transform: translateX(-50%) rotate(45deg); -o-transform: translateX(-50%) rotate(45deg); }
    .but-icon.is-active::after { left:50%; bottom: 0; transform: translateX(-50%) rotate(-45deg); -webkit-transform: translateX(-50%) rotate(-45deg); -moz-transform: translateX(-50%) rotate(-45deg); -ms-transform: translateX(-50%) rotate(-45deg); -o-transform: translateX(-50%) rotate(-45deg); }

    .header-langs.open .lng-dropdown {opacity:1;visibility: visible;margin:0px 0 0 0;pointer-events: all;}
    .header-langs.open .lng-button .ic { transform:rotate(-180deg) ; -webkit-transform:rotate(-180deg) ; -moz-transform:rotate(-180deg) ; -ms-transform:rotate(-180deg) ; -o-transform:rotate(-180deg) ; }
    .header-langs.open .lng-button {color:#0E0E0E;}
    .header-langs.open .lng-button:before {top:0;}

    .header .sound-switcher.active {color:#0E0E0E;}
    .header .sound-switcher.active:before {top:0;}
    .header .sound-switcher.active .ic:before {color:#0E0E0E;}
    .header .sound-switcher.active .icon:after {background:#0E0E0E;}
    .cases-section .cases-anons {    font-size: 24px;    line-height: 100%;    letter-spacing: -0.8px; top:-30px;}
    h1 {    margin: 0 0 32px 0;    font-size: 40px;    line-height: 100%;    letter-spacing: -1.56px;}
    .case-detail .detail-left {    width: 100%;}
    .case-detail .detail-right {    width: 100%;    min-width: 0;    margin: 32px 0 32px 0px;}
    .case-detail .detail-top {    margin: 0 0 0px 0;}
    .sticky {position:relative!important;top:0!important;height:auto!important;}
    .stop {position:relative!important;top:0!important;height:auto!important;}
    .detail-sticky {height:auto!important;}
    
    .case-detail .detail-container .down {display:none;}
    .content {    padding: 140px 0 0 0;}
    .contacts-section h1 {    margin: 0 0 32px 0;    font-size: 40px;    line-height: 100%;}
    .contacts-section .contacts-info {max-width:100%;}
    .contacts-section .contacts-form {    margin: 0 0px 0 0;min-width:0;    width: 100%;}
    .about-section .about-hero .hero-left {    margin: 0 40px 0px 0;}
    .about-section .about-hero h1 {    font-size: 80px;    line-height: 100%;}
    .about-section .about-hero h1 span {    margin: 0 0 0 100px;}
    .about-section .about-item .item-left {    margin: 0 40px 0px 0;}
    .about-section .about-item .item-gallery .img:nth-child(2) {    width: calc(36% - 40px);}
    .about-section .about-item .item-gallery {    margin: 80px -20px 0 -20px;}
    .about-section .about-item .item-gallery .img {    width: calc(32% - 40px);    margin: 0 20px;    height: 400px;}
    h4 {    font-size: 24px;    line-height: 110%;    letter-spacing: -0.28px;}

    .preload .gear-3 {margin:-20px -62px 0 auto; width:100px; }
    .preload .gear-5 { margin:-20px auto 0 -62px; width:100px; }
    .preload .gear-middle { width:148px; }
    .preload .gear-big { width:348px;}
    
    .preload .load-line {pointer-events: none; z-index:4; position:absolute; top:22px; bottom:22px; left:22px; right:22px;}
    .preload .pre-button { font-size: 16px;line-height: 100%;}
    .preload .load-line.load:hover { top:42px; bottom:42px; left:42px; right:42px;}
    
    
}




@media (max-width: 992px) {
    .main-hero .hero-info {    top: 80px;    bottom: 40px;}
    .main-hero .hero-image .image-lines {    width: 150%;}
    .planet-section .planet-video .planet-title-1 {margin:40px 0 24px 0; max-width:100%; text-align:center;    position: relative;    top: 0;    transform: translateY(0);    -webkit-transform: translateY(0);    -moz-transform: translateY(0);    -ms-transform: translateY(0);    -o-transform: translateY(0);}
    .planet-section .planet-video .planet-title-2 {margin:0 0 0px 0;  max-width:100%; text-align:center;   position: relative;    top: 0;    transform: translateY(0);    -webkit-transform: translateY(0);    -moz-transform: translateY(0);    -ms-transform: translateY(0);    -o-transform: translateY(0);}
    .planet-section .planet-video .planet-title-2 h3 { text-align:center; }
    .planet-section .planet-video .planet-title-1 h3 { text-align:center; }
    .planet-section .section-anons {    margin: 0 auto 40px auto;}
    .planet-section .planet-items {display:none!important;}
    .planet-section .planet-video {margin:0;}
    .main-cases .cases-video { height: 100vh; width: 100vw; margin: 0 auto; padding: 40px; }
    .main-cases .cases-video .video-container {    width: 90vw;    height: 90vw;}
    .main-cases .cases-video:before {    content: "";    width:100vw;    height: 100vw;    top: 50%;    bottom: auto;    left: 50%;    right: auto;    transform:translate(-50%,-50%) ;    -webkit-transform:translate(-50%,-50%) ;    -moz-transform:translate(-50%,-50%) ;    -ms-transform:translate(-50%,-50%) ;    -o-transform:translate(-50%,-50%) ;}
    .main-cases .cases-video:after {     content: "";    width:95vw;    height: 95vw;    top: 50%;    bottom: auto;   left: 50%;    right: auto;    transform:translate(-50%,-50%) ;    -webkit-transform:translate(-50%,-50%) ;    -moz-transform:translate(-50%,-50%) ;    -ms-transform:translate(-50%,-50%) ;    -o-transform:translate(-50%,-50%) ;}    
    .cases-list .item {    width:calc(100% - 30px)!important; margin-bottom:40px!important;margin-top: 0px!important;}
    .cases-list .item.small .item-image {    height: 400px;}
    .cases-list .item .item-image {    height: 400px;}
    .cases-list .item.small .item-name {    font-size: 20px;    line-height: 140%;    letter-spacing: -0.2px;}
    .cases-list .item .item-name .number {    width: 60px;    min-width: 60px;}  
    .main-about .about-info .anons {    max-width: 100%;    margin: 32px 0 32px 0px;}
    .footer .footer-nav {display:none;}
    .footer {text-align:center;}
    .footer .phone {justify-content: center;}
    .footer .footer-right {    text-align: center;}
    .footer .socials {    width: 100%;    text-align: center;}
    .footer .footer-bottom .row {display:block;}
    .footer .links a {display:block;margin:20px 0;}
    .footer .footer-bg {height:300px;}
    .footer .footer-bg img {height:100%;}
    .footer .footer-bg .footer-video {    width: 230px;    height: 230px;    bottom: -80px;}
    .content {    padding: 120px 0 0 0;}
    .title-container h1 br {display:none;}
    .title-container .section-anons {    margin: 32px 0 0 0px;    width:100%;    font-size: 16px;    line-height: 160%;    letter-spacing: -0.16px;}
    .cases-section .cases-anons {position:relative;width:100%;margin:0 0 40px 0;    font-size: 24px;    line-height: 100%;    letter-spacing: -0.8px;    top: 0px;}
    .last-event .item-name {    font-size: 30px;    line-height: 100%;    letter-spacing: -0.8px;}
    .last-event .item-image {    width: 100%;    height: auto;margin:0 0 32px 0;}
    .last-event .event-container {padding:40px 0;}
    .last-event .event-left {display:block!important;max-width:100%;}
    .case-detail .video-button {    height: auto;width:100%;}
    .events-list .item {padding:40px 0;text-align:center;}
    .events-list .item .item-image {margin:0 0 32px 0;    width: 100%;    height: auto;    min-width: 0;}
    .events-list .item .item-info {margin:0;}
    .events-list .item .item-date {width:100%;margin:0 0 20px 0;}
    .about-section .about-hero {margin:0;}
    .about-section .about-hero h1 {  margin:0 0 32px 0;  font-size: 60px;    line-height: 100%; position:relative;top:0;}
    .about-section .about-hero .hero-left {    margin: 0 0px 32px 0; width:100%;min-width:0;}
    .about-section .about-hero .hero-image {    width: 100%;}
    .margin-bottom {    margin-bottom: 160px!important;}
    .about-section .about-item .item-left {    margin: 0 0px 32px 0;width:100%;min-width:0;}
    .about-section .about-item .item-right {    max-width: 100%;}
    .about-section .about-item .left-image img {width:100%;}
    .about-section .about-item .item-image .image-container {position:relative;max-height:600px;overflow:hidden;}
    .about-section .about-item .item-gallery .img {height:270px;}
    .case-detail .detail-nav {justify-content: center!important;}
    .case-detail .detail-nav .link-default {display:none!important;}



}

@media (max-width: 767px) {
    .header .logo {    margin: 0 20px 0 0;    width: 160px;    min-width: 160px;}
    .header .header-right {margin:0;}
    .main-hero .hero-info h1 {    font-size: 40px;    line-height: 100%;}
    .main-hero .hero-info .info-title {    font-size: 20px; text-align: center;   line-height: 100%;    letter-spacing: 0.6px;}
    .main-hero .hero-media {    height: 525px;}
    .main-hero .hero-image .image-container img {    width: 1020px;}
    .main-hero .hero-image .image-portal img {    width: 1020px;}
    .main-hero .hero-image .image-lines {    width: 100%;}
    .main-hero .hero-image .video-portal {    width: 250px;    height: 250px; margin:0 0 0 5px;   top: 70px;}
    .margin-bottom {    margin-bottom: 100px!important;}
    .main-hero .hero-info {    top: 120px;    bottom: 40px;}
    h2 {margin:0 0 24px 0;font-size: 24px;line-height: 100%;letter-spacing: -0.8px; text-align: center;}
    h3 {margin:0 0 24px 0;font-size: 20px;line-height: 110%;letter-spacing: -0.4px; text-align: center;}
    .section-anons {    font-size: 16px;    line-height: 140%;    letter-spacing: -0.2px;}
    body, th, td {font-size: 14px;line-height: 140%;letter-spacing: -0.16px;}
    .planet-section .planet-video .video-container {    width: 320px;    height: 320px;}
    .main-cases .active .cases-titles {padding:0 15px;}
    .cases-list .item .item-image {    height: 270px;}
    .cases-list .item .item-name {  justify-content: center; color: #CAC5BD;    font-size: 16px;    line-height: 140%;    letter-spacing: -0.2px;}
    .cases-list .item {text-align: center;}
    .cases-list .item .date {margin:16px 0 0 0;    font-size: 14px;    line-height: 140%;    letter-spacing: -0.16px;}
    .cases-list .item.small .item-image {    height: 270px;}
    .mount-section .mount-animate {    height: 800px;}
    .mount-section .mount-animate .mount-parallax {    height: 300px;}
    .main-about .about-info .anons {    font-size: 16px;    line-height: 140%;    letter-spacing: -0.16px;}
    .main-about .about-images {display:block!important;}
    .main-about .about-images .image {margin-bottom:30px;}
    .main-about .about-images .image.image-2 {    margin-top: 0;}
    .main-about .about-bg .bg-2 {    margin: -160px 0 0 -160px;width:320px;}
    .footer .footer-form .anons {    margin: 0 0 24px 0;    font-size: 16px;    line-height: 140%;    letter-spacing: -0.16px;}
    .footer .subscribe-form {width:100%;}
    .footer .subscribe-form .submit {margin:24px 0 0 0;     font-size: 14px;    line-height: 100%;    top: 100%;   left:0; right: 0px;text-align:center;}
    .footer .logo img {    width: 160px;}
    .input {    height: 48px;}
    .footer .phone .icon {    margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size:100%;}
    .footer .phone {    margin: 0 0 24px 0;    font-size: 18px;    line-height: 100%;    letter-spacing: -0.16px;}
    .footer .adres .icon {    margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size:100%;}
    .footer .adres {    margin: 0 0 24px 0;    font-size: 14px;    line-height: 140%;    letter-spacing: -0.16px;}
    .footer .socials a {    margin: 0 0 20px 0;}
    .footer .footer-bg {    height: 200px;}
    .footer .footer-bg img {max-width:none;display:block;margin:0 auto;}
    .footer .footer-bg .footer-video {    width: 150px;    height: 150px;    bottom: -40px;}
    .main-about {    padding: 0 0 80px 0;}
    .header .header-menu {top:78px;}
    .header .header-menu .phone .icon {    margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size:100%;}
    .header .header-menu .phone {    margin: 0 0 24px 0;    font-size: 18px;    line-height: 100%;    letter-spacing: -0.16px;}
    .header .header-menu .adres .icon {    margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size:100%;}
    .header .header-menu .adres {    margin: 0 0 24px 0;    font-size: 14px;    line-height: 140%;    letter-spacing: -0.16px;}
    .header .header-menu .menu-contacts {margin:24px 0 0 0;}

    .main-hero .hero-info .info-container {height:auto;}
    .main-hero .hero-info h1 {margin:0 0 40px 0;}

    .title-container .section-anons {    font-size: 14px;    line-height: 140%;margin:24px 0 0 0;}
    .title-container {    margin: 0 0 32px 0;}
    .cases-section .cases-anons {    margin: 0 0 32px 0;    font-size: 18px;    line-height: 100%;}
    .cases-list .item.small .item-name {    justify-content: center;    color: #CAC5BD;    font-size: 16px;    line-height: 140%;    letter-spacing: -0.2px;}
    .last-event .item-name {    font-size: 20px;    line-height: 100%;    letter-spacing: -0.2px;}
    h1 {    font-size: 24px;    line-height: 100%;   letter-spacing: -0.8px;}
    .events-list .item .item-name {    margin: 0 0 24px 0;    font-size: 20px;    line-height: 100%;    letter-spacing: -0.6px;}
    .link-default {    font-size: 12px;    line-height: 14px;}
    .contacts-section h1 {    margin: 0 0 24px 0;    font-size: 24px;    line-height: 100%;}
    .contacts-section .value .icon {    margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size: 100%;}
    .contacts-section .value {margin: 0 0 24px 0;        font-size: 14px;        line-height: 140%;        letter-spacing: -0.16px;}
    .contacts-section .value.phone {    font-size: 18px;    line-height: 100%;    letter-spacing: -0.16px;}
    .contacts-section .socials .data {    margin: 0 0 24px 0;    font-size: 18px;    line-height: 100%;    letter-spacing: -0.16px;}
    .global-form .submit {height:48px;}
    .about-section .about-hero h1 {    margin: 0 0 24px 0;    font-size: 40px;    line-height: 100%;}
    .about-section .about-hero h1 span {    margin: 0 0 0 30px;}
    .about-section .about-item .item-image .image-container {    max-height: 400px;}
    h4 {    font-size: 18px;    line-height: 110%;    letter-spacing: -0.14px;}
    .about-section .about-item .item-gallery {    margin: 40px 0px 0 0px;}
    .about-section .about-item .item-gallery .img {    width:100%!important;    margin: 0 0px 24px 0;    height: auto;}
    .about-section .about-item .left-image {    margin: 0 0 40px 0;}
    .about-section .about-item .item-top:last-child {    margin: 40px 0 0 0;}
    .modal-content {padding:20px;}
    .modal-content .close {    top: 32px;    right: 20px;}
    .modal .modal-dialog {margin:0;height:100%;}
    .modal-event .event-image {    margin: 0 0 24px 0;    height: 270px;}
    .modal-event .event-name {    font-size: 24px;    line-height: 100%;    letter-spacing: -0.26px;}
    .case-detail .detail-nav {    margin: 40px 0 0 0;    padding: 20px 0 0 0;}
    .modal-form .modal-title {    margin: 0 32px 24px 0;    font-size: 24px;    line-height: 110%;    letter-spacing: -0.6px;}
    .modal-form .modal-phone { text-align:center;    margin: 40px 0 0 0;    font-size: 16px;    line-height: 100%;}
    .modal-form .modal-phone .value { justify-content: center;   margin: 20px 0 0px 0px;     font-size: 18px;    line-height: 100%;    letter-spacing: -0.16px;}
    .modal-form .modal-phone .value .icon {  margin: 0 12px 0 0;    font-size: 18px;    width: 32px;    min-width: 32px;    height: 32px; background-size: 100%;}
    .preload .gear-3 {display:none;}
    .preload .gear-5 {display:none;}
    .preload .gear-middle {display:none;}



}





@media (max-width: 580px) {




}

