/*@font-face {
    font-family: 'Bounded';
    src: url('Bounded-Black.eot');
    src: url('Bounded-Black.eot?#iefix') format('embedded-opentype'),
        url('Bounded-Black.woff2') format('woff2'),
        url('Bounded-Black.woff') format('woff'),
        url('Bounded-Black.ttf') format('truetype'),
        url('Bounded-Black.svg#Bounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('Bounded-Regular.eot');
    src: url('Bounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('Bounded-Regular.woff2') format('woff2'),
        url('Bounded-Regular.woff') format('woff'),
        url('Bounded-Regular.ttf') format('truetype'),
        url('Bounded-Regular.svg#Bounded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('Bounded-ExtraLight.eot');
    src: url('Bounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Bounded-ExtraLight.woff2') format('woff2'),
        url('Bounded-ExtraLight.woff') format('woff'),
        url('Bounded-ExtraLight.ttf') format('truetype'),
        url('Bounded-ExtraLight.svg#Bounded-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: 'Bounded';
    src: url('Bounded-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Haval';
    src: url('Haval-Regular.eot');
    src: local('Haval Regular'), local('Haval-Regular'),
        url('Haval-Regular.eot?#iefix') format('embedded-opentype'),
        url('Haval-Regular.woff2') format('woff2'),
        url('Haval-Regular.woff') format('woff'),
        url('Haval-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-Medium.eot');
    src: local('Haval Medium'), local('Haval-Medium'),
        url('Haval-Medium.eot?#iefix') format('embedded-opentype'),
        url('Haval-Medium.woff2') format('woff2'),
        url('Haval-Medium.woff') format('woff'),
        url('Haval-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-MediumSlanted.eot');
    src: local('Haval MediumSlanted'), local('Haval-MediumSlanted'),
        url('Haval-MediumSlanted.eot?#iefix') format('embedded-opentype'),
        url('Haval-MediumSlanted.woff2') format('woff2'),
        url('Haval-MediumSlanted.woff') format('woff'),
        url('Haval-MediumSlanted.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    src: url('Haval-Light.eot');
    src: local('Haval Light'), local('Haval-Light'),
        url('Haval-Light.eot?#iefix') format('embedded-opentype'),
        url('Haval-Light.woff2') format('woff2'),
        url('Haval-Light.woff') format('woff'),
        url('Haval-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



